* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

section {
    width: 100%;
    min-height: 100vh;
}

.satu .container hr {
    border: 2px solid #0d6efd;
    opacity: 1;
}

/* .satu .container .text .personal{
    color: #ffc107;
} */


.notfound{
    min-width: 100%;
    min-height: 452px;
    border: 1px solid white;
}